body {
    margin: 0%;
    background-color: #056679;
    font-family: sans-serif;
}

h1 {
    margin: 0;
    margin-bottom: 15px;
    color: #086b7d
}

.todo-container {
    width: 350px;
    left: 50%;
    top: 50%;

    text-align: center;
    margin: auto;
    margin-top: 30px;
}

ul {
    padding: 0%;


}

ul li {
    list-style: none;
    background-color: #055565;
    padding: 15px;
    text-align: left;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px #0000001c;
    color: #088696;
    border-radius: 5px;
    display: flex;
    /* Important for aligning items */
    justify-content: space-between;
    /* Pushes content to the edges */
    align-items: center;
    /* Vertically center items */
}

.icon-container {
    display: flex;
    /* Make icons container a flex container */
    gap: 10px;
    /* Space between the icons */
}

.edit-icon {
    margin-left: auto;
    /* Push edit icon to the right (removed) */
    cursor: pointer;
    color: #088696;
}

.delete-icon {
    cursor: pointer;
    color: #088696;
}

input::placeholder {

    color: #088696;
}

.input-section input {
    border-radius: 5px;
    width: 100%;
    border: 1px solid #106879;
    box-sizing: border-box;
    padding: 10px;
    outline: none;
    background-color: #055565;
    color: #088696;

}

.input-section {
    background-color: #055565;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 7px 6px#0000003b
}